<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Card_Management_SystemEntities" connectionString="metadata=res://*/DataApp.Model.csdl|res://*/DataApp.Model.ssdl|res://*/DataApp.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RN4PEHE\SQLEXPRESS;initial catalog=Card_Management_System;user id=makklaud;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Card_Management_SystemEntities1" connectionString="metadata=res://*/DataApp.Model.csdl|res://*/DataApp.Model.ssdl|res://*/DataApp.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RN4PEHE\SQLEXPRESS;initial catalog=Card_Management_System;user id=makklaud;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Card_Management_SystemEntities2" connectionString="metadata=res://*/DataApp.Model1.csdl|res://*/DataApp.Model1.ssdl|res://*/DataApp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RN4PEHE\SQLEXPRESS;initial catalog=Card_Management_System;user id=makklaud;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Card_SystemEntities" connectionString="metadata=res://*/DataApp.Model1.csdl|res://*/DataApp.Model1.ssdl|res://*/DataApp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RN4PEHE\SQLEXPRESS;initial catalog=Card_System;user id=makklaud;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Card_Management_SystemEntities3" connectionString="metadata=res://*/DataApp.Model1.csdl|res://*/DataApp.Model1.ssdl|res://*/DataApp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RN4PEHE\SQLEXPRESS;initial catalog=Card_Management_System;user id=makklaud;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Card_Management_SystemEntities4" connectionString="metadata=res://*/DataApp.Model1.csdl|res://*/DataApp.Model1.ssdl|res://*/DataApp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RN4PEHE\SQLEXPRESS;initial catalog=Card_Management_System;user id=makklaud;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>